<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>公司主页</title>
        <meta name="description" content="graduates">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="../static/img/logo/graduate.svg" th:href="@{/img/logo/graduate.svg}">
        <!-- Place favicon.ico in the root directory -->
        <!-- CSS here -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
        <link rel="stylesheet" href="../static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
        <link rel="stylesheet" href="../static/css/fontawesome-all.min.css" th:href="@{/css/fontawesome-all.min.css}">
        <link rel="stylesheet" href="../static/css/elegant-icon.css" th:href="@{/css/elegant-icon.css}">
        <link rel="stylesheet" href="../static/css/nice-select.css" th:href="@{/css/nice-select.css}">
        <link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{/css/flaticon.css}">
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" href="../static/css/meanmenu.css" th:href="@{/css/meanmenu.css}">
        <link rel="stylesheet" href="../static/css/slick.css" th:href="@{/css/slick.css}">
        <link rel="stylesheet" href="../static/css/default.css" th:href="@{/css/default.css}">
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
        <link rel="stylesheet" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div class="preloader">
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- preloader end  -->

        <!-- header -->
        <header>
            <div class="header-top d-none d-md-block">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="header-contact text-center text-lg-left">
                                <ul>
                                    <li><i class="icon_phone"></i> +111 2222 444</li>
                                    <li><i class="icon_mail_alt"></i> example@gmail.com</li>
                                    <li><i class="icon_pin_alt"></i> ChengDu University CHN</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="header-contact" style="color: white" th:text="${session.username}">
                                <span >未登录</span>
                            </div>
                            <span th:if="${session.username}"><a  style="color: white" href="/logout">退出</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header-sticky" >
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="m-3">
                                <div class="col-md-6 text-md-center p-2" style="background:#13404d;border-radius: 6px;color: white">
                                    <img src="../static/img/logo/graduate2.svg" alt="Logo" style="width: 30px;" th:src="@{/img/logo/graduate2.svg}">
                                    企业方管理
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-8">
                            <div class="main-menu text-right">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="../static/about.html">About Us</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->
        <div class="container">
            <ul class="nav nav-tabs mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="#">我的发布</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin/addRecruitment.html" th:href="@{/admins_com/add}">新增招聘</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin/homePage_com.html" th:href="@{/homePage}">个人主页</a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <!--</li>-->
            </ul>
        </div>
        <!--中间内容-->
        <!--<div class="container mb-3">-->

            <!--<div class="col-md-2 text-md-center p-2" style="background:#0f0e4d;border-radius: 6px;color: white;font-weight: bolder;font-size: x-large">我的发布</div>-->
        <!--</div>-->



        <!--中间内容-->
        <div class="table-responsive mt-4">
            <div class="container">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">序号</th>
                        <th class="text-center">招聘岗位</th>
                        <th class="text-center">投递人数</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="re:${res.recruitments}">
                        <td th:text="${re.recruit_id}" class="text-center">1</td>
                        <td th:text="${re.recruit_name}" class="text-center">java开发</td>
                        <td class="text-center" th:text="${re.apply_count}">32</td>
                        <td class="text-md-center"><a href="#" th:href="@{'/admin?id='+${re.recruit_id}}"><button  class="btn-sm">查看投递详情</button></a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="container text-right">
                    <a class="btn" style="padding: 10px" href="#" th:href="@{'/index_com?pageNum='+${res.page.pageNum-1}}" th:unless="${res.isFirst}">上一页</a>
                    <a class="btn" style="padding: 10px" href="#" th:href="@{'/index_com?pageNum='+${res.page.pageNum+1}}" th:unless="${res.isLast}">下一页</a>
                </div>
            </div>
        </div>



        <!-- footer -->
        <footer class="mt-5">
            <div class="footer-wrap theme-bg pb-45 pt-95">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-4 col-md-12 col-sm-6">
                            <div class="footer-widget mb-50">
                                <div class="fw-title mb-30">
                                    <h3>About us</h3>
                                </div>
                                <div class="footer-trext mb-25">
                                    <p>Lorem ipsum dummy text are usually
                                    use in the print and website das.</p>
                                </div>
                                <div class="footer-contact">
                                    <ul>
                                        <li>
                                            <i class="icon_phone"></i>
                                            <span>+387 64 8459 254 68</span>
                                        </li>
                                        <li>
                                            <i class="icon_mail_alt"></i>
                                            <span>info.manager@gmail.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer-widget mb-50">
                                <div class="fw-title mb-30">
                                    <h3>Recommend</h3>
                                </div>
                                <div class="fw-link">
                                    <ul>
                                        <li><a href="#">Digital marketing</a></li>
                                        <li><a href="#">SEO</a></li>
                                        <li><a href="#">Pay per click</a></li>
                                        <li><a href="#">Wordpress</a></li>
                                        <li><a href="#">Socaial media</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer-widget mb-50">
                                <div class="fw-title mb-30">
                                    <h3>Quick links</h3>
                                </div>
                                <div class="fw-link">
                                    <ul>
                                        <li><a href="#">Privacy policy</a></li>
                                        <li><a href="#">Contact us</a></li>
                                        <li><a href="#">Lorem ispum</a></li>
                                        <li><a href="#">Dummy content</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="footer-widget pl-40 mb-50">
                                <div class="fw-title mb-30">
                                    <h3>Support or policy</h3>
                                </div>
                                <div class="fw-link">
                                    <ul>
                                        <li><a href="#">Documentation</a></li>
                                        <li><a href="#">Forums</a></li>
                                        <li><a href="#">Language packs</a></li>
                                        <li><a href="#">Release Status</a></li>
                                        <li><a href="#">Lorem ipsum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area" style="align-content: center">
                <div class="container">
                    <div class="align-content-center">
                            <div class="copyright-text text-center text-md-center">
                                <p>Copyright &copy; 2019.GroupTen All rights reserved.</a></p>
                            </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->

		<!-- JS here -->
        <script src="../static/js/vendor/jquery-1.12.4.min.js" th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
        <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <script src="../static/js/jquery.meanmenu.min.js" th:src="@{/js/jquery.meanmenu.min.js}"></script>
        <script src="../static/js/slick.min.js" th:src="@{/js/slick.min.js}"></script>
        <script src="../static/js/jquery.countdown.min.js" th:src="@{/js/jquery.countdown.min.js}"></script>
        <script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
        <script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
        <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    </body>
</html>

